.conversion-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conversion-card-upper {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.conversion-card-upper-segment {
    display: flex;
    flex-direction: column;
}

.conversion-card-upper-segment > img {
    width: 32px;
    height: 32px;
    padding-top: 27px;
}

.conversion-card-middle-layer, .conversion-card-lower-layer {
    width: inherit;
    display: flex;
    justify-content: center;
}

.conversion-card-button {
    width: 40%;
}
