
/*--------------------------- axisCard styles -----------------------------*/
.axis-card-wrapper {
    width: 45%;
    border-radius: 2px;
    padding: 3% 2%;
    font-size: 85%;
    height: 300px;
    box-shadow: 0.5px 0.5px 4px 0.5px gray;
    overflow: auto;
}

.axis-content-wrapper {
    height: 100%;
}

.axis-content-wrapper .fields-dropdown-wrapper {
    width: 100%;
    display: flex;
    margin: 5% 0;
}
.axis-content-wrapper .fields-dropdown {
    width: 70%;
    height: 25px;
    border: 0.5px solid darkgray;
}
.add-trace-button {
    width: 30%;
    height: 25px;
    font-size: 80%;
    padding: 1%;
    border: 0.5px solid darkgray;
    border-radius: 2px;
}

.axis-content-wrapper .trace-area {
    padding: 3% 0;
}

.trace-card-wrapper {
    border: 0.5px solid gray;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 5%;
}
.trace-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
    border-bottom: 0.5px solid darkgray;
}
.trace-card-header span {
    font-size: 90%;
}
.trace-card-header img {
    width: 6%;
    height: 6%;
}
.trace-card-body {
    padding: 3% 5%;
}
.trace-card-wrapper .trace-card-element {
    font-size: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}
.trace-card-wrapper .label-input {
    height: 1.2rem;
}
.trace-card-wrapper .trace-card-element span,
.trace-card-wrapper .trace-card-element select,
.trace-card-wrapper .trace-card-element input,
.trace-card-wrapper .trace-card-element label
{
    width: 50%;
    box-sizing: border-box;
    text-align: start;
}

.trace-card-body .offset-option-wrapper {
    display: flex;
    flex-flow: wrap;
}
.trace-card-body .offset-option-wrapper label {
    width: 100%;
}

.trace-card-body .offset-option-wrapper .range-input {
    width: 70%;
    height: 1rem;
    padding: 0;
}
.trace-card-body .offset-option-wrapper .text-input {
    width: 20%;
    height: 1rem;
}

.trace-card-wrapper .trace-options-wrapper {
    flex-flow: wrap;
}
.trace-card-wrapper .trace-options-wrapper .options-wrapper {
    
}
.trace-card-wrapper .trace-options-wrapper .checkbox-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    content-visibility: auto;
}
.trace-card-wrapper .trace-options-wrapper .checkbox-wrapper label {
    font-size: smaller;
    white-space: nowrap;
    width: fit-content;
}
.trace-card-wrapper .trace-options-wrapper .checkbox-wrapper .checkbox {
    width: 15%;
}


.generate-chart-button {
    width: 100%;
    height: 5%;
    margin: 3% 0;
    padding: 0.5% 5%;
    justify-content: center;
    border: 1px solid darkgray;
    border-radius: 2px;
}


/*************************** OLD ****************************/
.axis-card-title-bar {
    width: 100%;
    height: 20px;
    color: white;
    background-color: #363538;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    margin: 0;
    text-align: center;
}

.axis-card-label-field-wrapper {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.justify-left {
    text-align: left;
}

.axis-card-button {
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    border: 1px solid black;
    transition: background-color 0.2s ease-out;
}
.axis-card-button:hover {
    background-color: black;
    color:white;
}

.axis-card-dropdown-card-wrapper {
    display: flex;
}

.axis-card-dropdown-wrapper > select {
    width: 100%;
}

.axis-card-dropdown-card-errordd {
    width: 30%;
}


.generate-chart-button-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 3% 2%;
}




@media screen and (max-width: 1200px) {
    .axis-card-wrapper {
        width: 100%;
    }

    .axis-card-header {
        padding: 3% 5%;
        font-size: 120%;
    }
    .axis-content-wrapper {
        padding: 2% 5%;
    }
    .add-trace-button {
        font-size: 100%;
    }
    .axis-content-trace-area {
        padding: 3% 0;
    }



}



/*--------------------------- seriesCard styles -----------------------------*/
.series-card-wrapper {
    width: 100%;
    border-radius: 2px;
    margin-top: 3%;
    font-size: 85%;
    height: 350px;
    box-shadow: 0.5px 0.5px 4px 0.5px gray;
    flex-flow: column;
    overflow: auto;
    padding: 4%;
}

.series-content-wrapper {
    height: 100%;
}

.series-content-wrapper .fields-dropdown-wrapper {
    width: 100%;
    display: flex;
    margin: 4% 0 2% 0;
}

.series-content-wrapper .fields-dropdown {
    width: 80%;
    height: 25px;
    border: 0.5px solid darkgray;
}

.series-content-wrapper .add-trace-button {
    width: 20%;
    height: 25px;
    font-size: 80%;
    padding: 1%;
    border: 0.5px solid darkgray;
    border-radius: 2px;
}

.series-content-wrapper .trace-area {
    padding: 3% 0;
}

.series-content-wrapper .trace-card-header {
    padding: 1% 4%;
}
.series-content-wrapper .trace-card-header img {
    width: 3%;
}

.series-content-wrapper .trace-card-body {
    /*display: flex;
    flex-flow: wrap;
    justify-content: center;*/
    display: grid;
    column-gap: 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'label label'
        'xaxis yaxis'
        'symbol error'
        'size size';
}

.series-content-wrapper .trace-card-wrapper .trace-card-element {
    margin-bottom: 3%;
}
    .series-content-wrapper .trace-card-wrapper select {
        height: 1.2rem;
    }

.series-content-wrapper .trace-card-body .label-wrapper {
    grid-area: label;
}
    .series-content-wrapper .trace-card-body .label-wrapper .label-text {
        width: 20%;
        text-align: right;
        margin-right: 5px;
        white-space: nowrap;
    }
    .series-content-wrapper .trace-card-body .label-wrapper .label-input {
        width: 80%;
        height: 1.5rem;
    }

.series-content-wrapper .trace-card-body .xaxis-index-dropdown-wrapper {
    grid-area: xaxis;
}
.series-content-wrapper .trace-card-body .yaxis-index-dropdown-wrapper {
    grid-area: yaxis;
}
.series-content-wrapper .trace-card-body .error-dropdown-wrapper {
    grid-area: error;
}
.series-content-wrapper .trace-card-body .symbols-dropdown-wrapper {
    grid-area: symbol;
}

    .series-content-wrapper .trace-card-body .xaxis-index-dropdown-wrapper .xaxis-index-label,
    .series-content-wrapper .trace-card-body .yaxis-index-dropdown-wrapper .yaxis-index-label,
    .series-content-wrapper .trace-card-body .error-dropdown-wrapper .error-label,
    .series-content-wrapper .trace-card-body .symbols-dropdown-wrapper .symbols-label 
    {
        width: 40%;
        text-align: right;
        margin-right: 5px;
    }
    .series-content-wrapper .trace-card-body .xaxis-index-dropdown-wrapper .xaxis-index-dropdown,
    .series-content-wrapper .trace-card-body .yaxis-index-dropdown-wrapper .yaxis-index-dropdown,
    .series-content-wrapper .trace-card-body .error-dropdown-wrapper .error-dropdown,
    .series-content-wrapper .trace-card-body .symbols-dropdown-wrapper .symbols-dropdown 
    {
        width: 60%;
    }

.series-content-wrapper .trace-card-body .symbols-size-range-wrapper {
    grid-area: size;
}
    .series-content-wrapper .trace-card-body .symbols-size-range-wrapper label {
        width: 25%;
        white-space: nowrap;
    }
    .series-content-wrapper .trace-card-body .symbols-size-range-wrapper .range-input {
        width: 60%;
    }
    .series-content-wrapper .trace-card-body .symbols-size-range-wrapper .text-input {
        width: 15% !important;
        height: 1.2rem;
    }


/*
.series-content-wrapper .trace-card-wrapper .trace-card-element {
    justify-content: center;
}
.series-content-wrapper .trace-card-wrapper .trace-card-element span,
.series-content-wrapper .trace-card-wrapper .trace-card-element label
{
    width: 25%;
    text-align: right;
    margin-right: 2%;
    box-sizing: border-box;
    white-space: nowrap;
}*/


/*.series-content-wrapper .trace-card-wrapper .xaxis-index-dropdown-wrapper,
.series-content-wrapper .trace-card-wrapper .yaxis-index-dropdown-wrapper
{
    width: 45%;
    flex-flow: nowrap;
    justify-content: flex-start;
    padding: 0 2%;
}*/
/*.series-content-wrapper .trace-card-wrapper .xaxis-index-dropdown-wrapper span,
.series-content-wrapper .trace-card-wrapper .yaxis-index-dropdown-wrapper span
{
    width: auto;
}*/

/*
.series-content-wrapper .trace-card-wrapper .datapoint-size-range-wrapper .range-input {
    width: 80%;
    margin: 0 3%;
}*/

