/* Inspector is on the far right side of the screen */
#inspector {
  width: 38%;
  height: 100%;
  position: relative;
  float: right;
  border: 0.1px solid transparent;
  border-radius: 10px 10px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* outline: 1px solid black; */
}
#inspector > h1 {
  width: 100%;
  text-align: center;
  color: white;
}

.inspector-header {
  width: 100%;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.inspector-header-button {
  height: 40px;
  width: 140px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid #5b8c5a;
  transition: background-color 0.2s ease-in;
  z-index: 1;
}

.inspector-header-button:hover {
  background-color: #5b8c5a;
}
.inspector-card-container {
  position: relative;
  top: -100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.active-header-button {
  background-color: #5b8c5a;
}
