
/********************* Form Style *************************/

.select-field-wrapper {
    display: flex;
    /*width: 100%;*/
    margin: 5% 5% 3%;
    align-items: center;
}
    .select-field-wrapper .select-field-label {
        align-self: center;
        white-space: nowrap;
    }
    .select-field-wrapper .select-field-dropdown {
        inline-size: -webkit-fill-available;
        margin-left: 2%;
        border: ridge;
        /*width: 85%;*/
    }
    .select-field-wrapper .select-field-button:active {
        transform: translateY(1.5px);
    }
    .search-card-wrapper select {
        height: 2.2rem;
    }

.form-wrapper {
    margin: 2%;
}
.form-wrapper .flatpickr-calendar {
    position: absolute;
    top: 100%;
    left: 0;
}
.search-form .field-wrapper {
    margin: 2% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form .field-wrapper label {
    width: 40%;
    font-size: 85%;
}

.field-wrapper .tooltip-div {
    display: inline-block;
    position: relative;
    width: 30%;
    padding: 0.1%;
    align-self: center;
    /*z-index: 1;*/
}
.tooltip-div img {
    vertical-align: middle;
}
.tooltip-div .tooltip-text {
    font-size: small;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.8%;
    border-radius: 6px;
    background-color: black;
    color: white;
    white-space: break-spaces;
}

.tooltip-div .tooltip-text:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/*.tooltip-div .tooltip-text:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
    left: -8px;
    top: 8px;
}*/
.tooltip-div:hover .tooltip-text {
    visibility: visible;
    z-index: 3;
    transition-delay: 0.4s;
}
.search-form .field-input-wrapper {
    width: 60%;
}
.field-input-wrapper .field-input {
    width: 100%;
    height: 2.2rem;
    text-align-last: start;
    cursor: auto;
    box-sizing: border-box;
}

/*.search-form input,*/
.search-form select
{
    height: 2.2rem !important;
    border: inset;
    cursor: pointer;
}

.search-form .field-input-wrapper .typeahead-input {
    display: flex;
    min-width: -webkit-fill-available;
}

.search-form .field-input-wrapper .typeahead-result-container {
    background-color: white;
    border: inset;
    max-height: 300px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.search-form .field-input-wrapper .typeahead-result-container .object-suggestion {
    display: flex;
    font-size: small;
    justify-content: flex-start;
    padding: 0.5px 3px;
    white-space: nowrap;
}

.search-form .checkbox-wrapper.field-input-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.search-form .checkbox-wrapper
{
    /*height: 2.2rem;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form .radio-wrapper {
    /*height: 2.2rem;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-form .radio-wrapper input {
    margin: 5%;
}
.search-form .radio-wrapper label {
    width: fit-content;
}
.search-card-wrapper .button-wrapper {
    text-align: end;
    margin: 5% 8% 8% 8%;
}
.search-card-wrapper .button-wrapper p {
    margin: 2% 0;
}
.search-card-wrapper .button-wrapper .form-submit-btn {
    border: outset;
}
.search-card-wrapper .button-wrapper .form-submit-btn:active {
    transform: translateY(1.5px);
}

@media screen and (max-width: 1200px) {
    /*.search-card-wrapper {
        font-size: smaller;
    }*/
    .search-form .field-input-wrapper {
        height: 1.5rem !important;
    }
    .search-form select {
        height: 1.5rem !important;
    }
    .tooltip-div img {
        width: 20px !important;
    }

}





/*.search-form-wrapper {
    display: table-row !important;
    width: 100%;
}
.search-dropdown-wrapper {
    width: 100%;*/
    /*text-align: center;*/
    /*display: flex;
    margin: 2%;
    align-items: baseline;
}
.search-dropdown {
    width: 65%;
    text-align: left;
    font-size: large;
    padding: 0.5% 2%;
    border: ridge;
}
.search-form-wrapper .add-icon-wrapper {
    margin-bottom: auto;
}
.search-form-wrapper .add-icon {
    width: 25px;
    vertical-align: top;
    border: outset;
}

.search-form {
    width: 100%;
}

.search-object-wrapper,
.search-buttons-wrapper
{
    width: 100%;
    flex-flow: column;
}

 .date-range-min-wrapper,
 .date-range-max-wrapper,
 .search-object-input-wrapper,
 .search-buttons-inner-wrapper
{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
 }

.date-range-min-wrapper label,
.date-range-max-wrapper label,
.search-object-input-wrapper label {
    vertical-align: -webkit-baseline-middle;
}

.date-range-min-wrapper input,
.date-range-max-wrapper input,
.search-object-input-wrapper input {
    width: 75%;
    height: 1.5rem;
    float: right;
}


#searchBtn {
     float: right;
     padding: 3px;
     font-size: 110%;
 }*/

