
/********************* Form Style *************************/


.select-field-wrapper {
    display: flex;
    /*width: 100%;*/
    margin: 2%;
    /*align-items: stretch;*/
}
    .select-field-wrapper .select-field-label {
        align-self: center;
        white-space: nowrap;
    }
    .select-field-wrapper .select-field-dropdown {
        inline-size: -webkit-fill-available;
        margin: 0 3%;
        border: ridge;
    }
    .select-field-wrapper .select-field-button:active {
        transform: translateY(1.5px);
    }
    .search-card-wrapper select {
        height: 2.2rem;
    }

.form-wrapper {
    margin: 2%;
}
.search-form .field-wrapper {
    margin: 2% 8%;
    text-align-last: justify;
}
.search-form .field-input {
    width: 75%;
    height: 1.2rem;
}
.search-card-wrapper .button-wrapper {
    float: right;
}
.search-card-wrapper .button-wrapper .form-submit-btn {
    border: outset;
}
.search-card-wrapper .button-wrapper .form-submit-btn:active {
    transform: translateY(1.5px);
}

@media screen and (max-width: 1500px) {
    .search-form .field-input {
        width: 60%;
    }
}





/*.search-form-wrapper {
    display: table-row !important;
    width: 100%;
}
.search-dropdown-wrapper {
    width: 100%;*/
    /*text-align: center;*/
    /*display: flex;
    margin: 2%;
    align-items: baseline;
}
.search-dropdown {
    width: 65%;
    text-align: left;
    font-size: large;
    padding: 0.5% 2%;
    border: ridge;
}
.search-form-wrapper .add-icon-wrapper {
    margin-bottom: auto;
}
.search-form-wrapper .add-icon {
    width: 25px;
    vertical-align: top;
    border: outset;
}

.search-form {
    width: 100%;
}

.search-object-wrapper,
.search-buttons-wrapper
{
    width: 100%;
    flex-flow: column;
}

 .date-range-min-wrapper,
 .date-range-max-wrapper,
 .search-object-input-wrapper,
 .search-buttons-inner-wrapper
{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
 }

.date-range-min-wrapper label,
.date-range-max-wrapper label,
.search-object-input-wrapper label {
    vertical-align: -webkit-baseline-middle;
}

.date-range-min-wrapper input,
.date-range-max-wrapper input,
.search-object-input-wrapper input {
    width: 75%;
    height: 1.5rem;
    float: right;
}


#searchBtn {
     float: right;
     padding: 3px;
     font-size: 110%;
 }*/

