:root {
  --color-red: #ac232f;
  --color-dark-liver: #52414C;
  --color-ebony: #596157;
  --color-middle-green: #3f743e;
  --color-slate-gray: #28464B;
  --color-ming: #326771;
  --color-blue: #2C8C99;
  --color-turquoise: #42D9C8;
  --color-dark-blue: #1a3c77;
}

/** This is the css file for the Module Selection Menu */
#moduleMenu {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #moduleMenu > h1 {
    width: 100%;
    text-align: center;
  }
  
  #moduleMenu > .menuSegmentWrapper {
    width: 100%;
    position: relative;
  
  }
  
  #moduleMenu > .menuSegmentWrapper > .topMenuButton {
    text-align: center;
    background-color: #efefef;
    width: 100%;
    position: relative;
    /* outline: 1px solid black; */
    height: 2.7em;
    padding-left: 3%;
    overflow:hidden;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.2s ease-in;
  }

  #moduleMenu > .menuSegmentWrapper > .topMenuButton:hover {
    opacity: 0.6;
  }
  
  #moduleMenu > .menuSegmentWrapper > .topMenuButton > img {
    width: 2em;
    height: 2em;
    position: relative;
    float: left;
    top: 12%;
  }
  
  
  #moduleMenu > .menuSegmentWrapper > .topMenuButton > p {
    float: left;
    font-size: 1em;
    color: white;
    font-weight: 400;
    width: 60%;
    text-align: left;
    height: 100%;
    margin: 0;
    top: calc(50% - 0.5em);
    position: relative;
    padding-left: 25%;
  }
  
  .subMenuWrapper {
    width: 100%;
   overflow: hidden;
   height: 0px;
   transition: height 0.2s ease-in;
  }
  
  .menuIconCard {
    width: 33%;
    height: 100px;
    float: left;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s linear;
  }
  
  .menuIconCard:hover {
    background-color: #d4d1d1;
  }
  
  .menuIconCard > .iconText {
    width: 100%;
    text-align: center;
    height: 40%;
    position: relative;
    font-size: .9em;
    margin-top: 1vh;
  }
  .menuIconCard > img {
    width: 3em;
    height: 3em;
    position: relative;
    margin-top: 1vh;
  }