/****************** Rage Slider ******************/
:root {
    --slider-width: 100%;
    --slider-height: 20px;
    --ball-width: 20px;
}
.range-slider-wrapper {
  width: var(--slider-width);
  height: var(--slider-height);
}

.range-slider-background-bar {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px #000000;
}

.range-slider-ball {
    height: 18px;
    width: 18px;
    background-color: black;
    border-radius: 50% 0 0 50%;
    position: relative;
    top: calc( (var(--slider-height) - 1px) * -1);
    left: 0;
}

.range-slider-ball-right {
    height: 18px;
    width: 18px;
    background-color: black;
    border-radius: 0 50% 50% 0;
    position: relative;
    top: calc(var(--slider-height) * -2 + 3px);
    left: calc( var(--slider-width) - var(--ball-width) + 1px);
}

/****************** Min Max Slider ******************/
.axis-datazoom-slider {
    position: relative;

}

.axis-datazoom-slider input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5px 0;
}

.axis-datazoom-slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.axis-datazoom-slider input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    border: 0.5px solid #ccc;
}


.axis-datazoom-slider input[type='range']:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

