/****************** Rage Slider ******************/
:root {
    --slider-width: 100%;
    --slider-height: 20px;
    --ball-width: 20px;
}
.range-slider-wrapper {
  width: var(--slider-width);
  height: var(--slider-height);
}

.range-slider-background-bar {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px #000000;
}

.range-slider-ball {
    height: 18px;
    width: 18px;
    background-color: black;
    border-radius: 50% 0 0 50%;
    position: relative;
    top: calc( (var(--slider-height) - 1px) * -1);
    left: 0;
}

.range-slider-ball-right {
    height: 18px;
    width: 18px;
    background-color: black;
    border-radius: 0 50% 50% 0;
    position: relative;
    top: calc(var(--slider-height) * -2 + 3px);
    left: calc( var(--slider-width) - var(--ball-width) + 1px);
}

/****************** Min Max Slider ******************/
/*.minmax-range-input {
    position: absolute;
    width: 100%;
    height: 5%;
}*/

/*
.minmax-range-wrapper input[type='range'] {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    background: none;
    pointer-events: none;
    cursor: grab;
    -webkit-appearance: none;
}

    .minmax-range-wrapper input[type='range']::-webkit-slider-thumb {
        width: 10px;
        height: 1em;
        border-radius: 3px;
        background: #0575ff;
        pointer-events: auto;
        -webkit-appearance: none;
    }

    .minmax-range-wrapper input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 100%;
        background: rgb(0,117,255, 0.1);
        border-radius: 4px;
        border: 0.5px solid rgb(0,117,255, 0.1);
        z-index: 0;
        position: relative;
    }*/




