.save-popup-wrapper {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;
    flex-direction: column;
}

.save-popup-input-wrapper {
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.save-popup-input-wrapper > p {
    width: 35%;
    padding: 4px;
}

.save-popup-input-wrapper > input {
    height: 25px;
}

.save-popup-input-wrapper > textArea {
    height: 80px;

}

.save-popup-input-wrapper > textArea, input {
    width: 65%;
    padding: 5px;
}

.save-popup-save-button {
    width: 80px;
    left: calc(50% - 40px);
    position: relative;
    top: 10px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: opacity .2s ease-out;
}

.save-popup-save-button:hover {
    opacity: 0.7;
}