
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-VariableFont_wght.ttf');
}

:root {
  --color-red: #931621;
  --color-slate-gray: #28464B;
  --color-ming: #326771;
  --color-blue: #2C8C99;
  --color-turquoise: #42D9C8;
  --color-middle-green: #5B8c5a;
  --color-dark-gray: #363434;
  --color-light-gray: #c9c9c9;
  --color-very-light-gray: #eeeeee;
}

body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
  font-family: 'Sora', Fallback, sans-serif;
  background-color: var(--color-dark-gray);
  color: var(--color-dark-gray);
}

button {
    padding: 1vw;
    width: 15vw;
    font-size: 1em;
    overflow: hidden;
}

h1 {
    font-size: 1.2em;
    font-weight: 800;
}

h2 {
    font-size: 1em;
    font-weight: 600;
}

/* Navigation bar runs across the top of the window */
.nav {
  height: 10vh;
  width: 100vw;
  position: relative;
}

/* Contains all Data below the nav bar, split into two main sections, left and right */
#mainWrapper {
  position: relative;
  width: 98vw;
  display: inline-block;
  left: 1vw;
  height: 85vh;
  top: 0;
}


/* Left Side of the Window -- Contains the menu */
#left-side-wrapper {
  height: 100%;
  width: 21%;
  /* outline: 1px solid black; */
  float: left;
  margin-right: 1vw;
  position: relative;
  background-color: var(--color-very-light-gray);
}


/* End Left Side of the window */

/* Start Right Side of the View Window 
Contains the main diagram, the plot view, the create module pipeline and sub environment*/
#right-side-wrapper {
  height: 100%;
  width: 76.5%;
  display: inline-block;
  position: relative;
}

/* the run botton is separate from the rest of the css currently */
#runButton {
    left: 60%;
    top: 92%;
    position: absolute;
    z-index: 10000;
    width: 6em;
    height: 2em;
    font-size: .8em;
    font-weight: 500;
    border: none;
    background-color: var(--color-dark-gray);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
  }

  #runButton:hover {
    background-color: var(--color-light-gray);
  }

/* The main diagram hold sthe main Environment */
#environmentDiv {
  position: relative;
  outline: 1px solid black;
  width: 71.5%;
  height: 100%;
  display: inline-block;
  margin-right: 1vw;
  text-align: center;
  background-color: white;
}

/* This button starts a new Main Environment. */
#environmentDiv > button {
    height: 8vh;
    position: relative;
    top: calc(50% - 4vh);
}

/* Inspector is on the far right side of the screen */
#inspector {
  width: 26.7%;
  height: 100%;
  position: relative;
  float: right;
  background-color: var(--color-very-light-gray);
  /* outline: 1px solid black; */
}
#inspector > h1 {
  width: 100%;
  text-align: center;
}


/* SideBar to the right of the main Environment, shows the Plots */
.plot_sidebar {
  width: 30%;
  height: 60%;
  outline: 1px solid black;
  position: relative;
  vertical-align: top;
  top: 0;
  display: inline-block;
}

#plot_1 {
  width: 100%;
  height: 100%;
}

/* END THE RIGHT SIDE OF THE WINDOW */

/* Special Areas for the popup */
#csvDataArea, #tableDataArea {
  width: 90%;
  height: 60%;
  overflow: auto;
  position: relative;
  left: 5%;
  top: 4vh;
}

.uploadWrapper {
  width: 90%;
  padding: 2%;
  outline: 1px solid black;
  position: relative;
  left: 3%;
  top: 3vh;
  z-index: 1000;
}
